{% extends 'base.html.twig' %}
{% block content %}
    <br>
    <div class="container-fluid">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <h4 class="text-center">Añadir un proveedores</h4>
                <div class="col-6 bg-gradient rounded my-3 p-5">
                    {{ form_start(form) }}
                    <div class="row text-center">
                        <div class="col">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.mail) }}
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            {{ form_row(form.telephone) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.type) }}
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            {{ form_row(form.create_date) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.update_date) }}
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col">
                            {{ form_row(form.active) }}
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <a href="{{ path('app_proveedor') }}">Volver</a>
                        </div>
                        <div class="col">
                            {{ form_row(form.Agregar) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>




    </div>
    </div>
{% endblock %}